body {
  font-family: 'Courier New', Courier, monospace
}

h1 {
  font-family: 'Times New Roman', Times, serif;
}
.darkblue {
  color: darkblue;
}

.darkblue h2 {
  font-family: Arial, Helvetica, sans-serif;
}



img {
  width: 300px;
  height: 300px;
  object-fit: scale-down;
}

.box {
  width: 75%;
  border: solid blue;
  border-width: 1px;
  background-color: yellow;
  margin-bottom: 10px;
}

.repos {
  background-color: lightblue;
  border: solid blue;
  border-width: 1px;
  margin-bottom: 5px;
}

.repos ul {
  font-size: 13pt;
}

.repos ul a {
  color: blueviolet;
}

.career-goals {
  background-color: lightsalmon;
  border: solid blue;
  border-width: 1px;
  margin-bottom: 5px;
}

.career-goals ol li {
  font-size: 13pt;
}