body {
  font-family: 'Courier New', Courier, monospace
}

h1 {
  font-family: 'Times New Roman', Times, serif;
}
.red {
  color: red;
}

.red h2 {
  background-color: greenyellow;
}

img {
  width: 300px;
  height: 300px;
  object-fit: scale-down;
}

.box {
  width: 75%;
  border: solid blue;
  border-width: 1px;
  background-color: yellow;
  margin-bottom: 10px;
}

.repos {
  background-color: lightblue;
}

.repos ul {
  font-size: 13pt;
}

.repos ul a {
  color: blueviolet;
}

.career-goals {
  background-color: lightsalmon;
}

.career-goals ol li {
  font-size: 13pt;
}